body {
	margin: 0;
}

.wrapper {
	width: 80%;
	margin: auto;
}

header {
	padding: 40px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo, .menu {
	display: inline-block;
}

.logo {
	// font: normal bold 24px/32px 'PT Serif', serif;
	color: #000000;
	width: 190px;
	height: 35px;
	background: url('img/logo.svg');
}

.menu {
	font: normal 500 18px/21px 'Roboto', sans-serif;
	font-family: 'Roboto', sans-serif;
	color: #000000;
}

.menu__item1 {
	padding-right: 25px;
}

.menu__item2 {
	padding-right: 24px;
}

.menu__item3 {
	padding-right: 27px;
}

.menu__item4 {
	padding-right: 27px;
}

.main-content__title {
	font: normal bold 66px/87px 'PT Serif', serif;
	display: flex;
	align-items: center;
	color: #000000;
}

.main-content__subtitle {
	font: normal normal 22px/26px 'Roboto', sans-serif;
	font-family: 'Roboto', sans-serif;
	color: #000000;
}

.main-content__button {
	font: normal 500 18px/21px 'Roboto', sans-serif;
	background: #0056EC;
	border-radius: 4px;
	color: #FFFFFF;

}