body {
	margin: 0;
}

.wrapper {
	width: 80%;
	margin: auto;
}

header {
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 130px;
}

.logo, .menu {
	display: inline-block;
}

.logo {
	position: relative;
	padding: 40px 0 40px 50px;
	font: bold 24px/31px 'PT serif', sans-serif;
	letter-spacing: 1px;
}

.logo__circle {
	position: absolute;
	left: 0;
	top: 50%;
    transform: translateY(-50%);
	width: 28px;
	height: 28px;
	border-radius: 50%;
	opacity: .7;
}

.logo__circle_dark-blue {
	background: #0056EC;
}

.logo__circle_blue {
	left: 8px;
	top: 56%;
	background: #C8DBFB;
}

.menu {
	font: normal 500 18px/21px 'Roboto', sans-serif;
	margin-right: 12px;
}

.menu__item1 {
	position: relative;
	margin-right: 27px;
	color: #000;
	text-decoration: none;
	transition: opacity .5s;
}

.menu__item2 {
	position: relative;
	margin-right: 24px;
	color: #000;
	text-decoration: none;
	transition: opacity .5s;
}

.menu__item3, .menu__item4 {
	position: relative;
	margin-right: 27px;
	color: #000;
	text-decoration: none;
	transition: opacity .5s;
}

.menu__item5 {
	position: relative;
	color: #000;
	text-decoration: none;
	transition: opacity .5s;
}

.menu__item_active:after {
	position: absolute;
	display: block;
	content: '';
	width: 100%;
	height: 3px;
	left: 0;
	background: #0056EC;
}

.menu__item1:hover, .menu__item2:hover, .menu__item3:hover, .menu__item4:hover, .menu__item5:hover {
	font-weight: bold;
	opacity: .5;
}

.menu__item1:hover:after, .menu__item2:hover:after, .menu__item3:hover:after, .menu__item4:hover:after, .menu__item5:hover:after {
	position: absolute;
	display: block;
	content: '';
	width: 100%;
	height: 3px;
	left: 0;
	background: #0056EC;
}

.menu__item1:after, .menu__item2:after, .menu__item3:after, .menu__item4:after, .menu__item5:after {
	position: absolute;
	display: block;
	content: '';
	width: 0;
	height: 3px;
	left: 0;
	background: #0056EC;
	opacity: 0;
	transition: opacity .5s, width .5s;
}

.menu__item1:hover:after, .menu__item2:hover:after, .menu__item3:hover:after, .menu__item4:hover:after, .menu__item5:hover:after, .menu__item_active:after {
	opacity: 1;
	width: 100%;
}

.main {
	padding: 0 54% 265px 0;
	background: top right no-repeat url(img/mainimg.svg);
}

.main__title {
	font: normal bold 66px/87px 'PT Serif', serif;
	align-items: center;
	color: #000;
	padding-top: 75px;
	margin-bottom: 0;
	letter-spacing: 3px;
}

.main__title-text-highlight {
	background: linear-gradient(180deg, rgba(255,255,255,1) 15%, #ECF3FF 15%);
}

.main__subtitle {
	font: normal normal 22px/26px 'Roboto', sans-serif;
	color: #000;
	padding-right: 240px;
	padding-top: 15px;
	margin-bottom: 40px;
}

.main__button {
	padding: 17px 32px 17px 25px;
	font: normal 500 18px/21px 'Roboto', sans-serif;
	background: #0056EC;
	border-radius: 4px;
	color: #FFF;
	transition: opacity .5s;
}

.main__button:hover {
	opacity: .5;
	font-weight: bold;
}
.points {
	display: flex;
	justify-content: left;
	align-items: center;
	margin-left: 49%;
}

.points__item {
	width: 8px;
	height: 8px;
	background: #C8DBFB;
	margin-right: 4px;
	opacity: .7;
	border-radius: 50%;
	display: inline-block;
}

.movingLogo {
    animation-name: movingLogo;
    animation-duration: 2s; 
    animation-timing-function: ease-in-out; 
    visibility: visible !important;
    transition: opacity .5s
 }
 
@keyframes movingLogo {
    0% {
        transform: scale(0);
        opacity: .0;       
    }
    60% {
        transform: scale(1.1);
        opacity: .5; 
    }
    80% {
        transform: scale( .9);
        opacity: .7; 
    }   
    100% {
        transform: scale(1);
        opacity: 1; 
    }       
}



@media (min-width: 1024px and max-width: 1366) {
	
	.wrapper {
		width: 69%;
		margin: auto;
}
	
	.menu-burger {
		display: none;
	}

	header {
		padding: 0;
		margin: 0;
	}

	.logo {
		font: bold 24px/32px 'PT serif', sans-serif;
		letter-spacing: 1px;
	}
	
	.menu {
		font: normal 500 14px/16px 'Roboto', sans-serif;
	}

	.main__title {
	font: normal bold 50px/66px 'PT Serif', serif;
	}

	.main__subtitle {
	font: normal 500 18px/21px 'Roboto', sans-serif;
	}

	.main__button {
	font: normal 500 14px/16px 'Roboto', sans-serif;
	}
}







@media (min-width: 769px and max-width: 1024) {

	.wrapper {
		width: 69%;
		margin: auto;
}
	
	.menu-burger {
		display: none;
	}

	header {
		padding: 0;
		margin: 0;
	}

	.logo {
		font: bold 24px/32px 'PT serif', sans-serif;
		letter-spacing: 1px;
	}
	
	.menu {
		font: normal 500 14px/16px 'Roboto', sans-serif;
	}

	.main__title {
	font: normal bold 50px/66px 'PT Serif', serif;
	}

	.main__subtitle {
	font: normal 500 18px/21px 'Roboto', sans-serif;
	}

	.main__button {
	font: normal 500 14px/16px 'Roboto', sans-serif;
	}
}











@media (max-width: 768px) {
	
	.wrapper {
		width: 87%;
	}

	header {
	padding: 0;
	margin: 0;
	margin-top: 6px;
	}

	.main {
		padding: 80% 0 0 0;
		background-size: 85%;
		background-position: top center;
		text-align: center;
		margin-top: 14px;
	}

	.menu {
		display: none;
		font: normal 500 18px/21px 'Roboto', sans-serif;
		margin-right: 12px;
	}

	.menu__item1, .menu__item2, .menu__item3, .menu__item4, .menu__item5  {
		display: none;
		position: relative;
		margin-right: 27px;
		color: #000;
	}
	
	.logo {
		    padding: 0 0 68px 50px;
	}

	.logo__name {
		display: none;
	}

	.menu-burger__item {
		width: 25px;
		height: 3px;
		margin-bottom: 4px;
		background: #0056EC;
	}

	.menu-burger__item:last-child {
		margin-bottom: 0;
	}
	
	.main__title {
		font: normal bold 30px/40px 'PT Serif', serif;
		text-align: center;
		padding-top: 0;
		margin: 0;
		letter-spacing: 1.5px;
    	padding-right: 0px;
    	padding-left: 10px;		
	}

	.main__subtitle {
		font: normal 500 16px/19px 'Roboto', sans-serif;
		text-align: center;
		padding-top: 29px;
		margin-bottom: 40px;
		padding-right: 0;
    	max-width: 270px;
    	margin: 0 auto;
    	letter-spacing: 0;
	}

	.main__button {
		font: normal 500 14px/16px 'Roboto', sans-serif;
		text-align: center;
		margin-top: 25px;
		padding: 13px 26px 11px 18px;
	}

	.points {
		display: none;
	}

	#checkbox {
		display: none;
	}

	#checkbox:checked ~ .menu {
		position: absolute;
		width: 100vw;
		height: 100vh;
	}

	#checkbox:checked ~ .menu__item1, .menu__item2, .menu__item3, .menu__item4, .menu__item5 {
		text-align: center;
		font: normal 500 30px/35px 'Roboto', sans-serif;
	}
