body {
	margin: 0;
}

.wrapper {
	width: 80%;
	margin: auto;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo, .menu {
	display: inline-block;
}

.logo {
	font-family: 'PT Serif', serif;
	padding: 40px 0;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 32px;
	color: #000000;
}

.menu {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}

.menu__item1 {
	padding-right: 25px;
}

.menu__item2 {
	padding-right: 24px;
}

.menu__item3 {
	padding-right: 27px;
}

.menu__item4 {
	padding-right: 27px;
}

.main-content__title {
	font-family: 'PT Serif', serif;
	font-style: normal;
	font-weight: bold;
	font-size: 66px;
	line-height: 87px;
	display: flex;
	align-items: center;
	color: #000000;
}

.main-content__subtitle {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 26px;
	color: #000000;
}

.main-content__button {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	background: #0056EC;
	border-radius: 4px;
	color: #FFFFFF;

}